<!DOCTYPE html>
<html>
  <head>
    <title>Poll Wise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=react_component('header/Header',current_user: current_user, logged_in: logged_in?)%>
    <div class="container">
      <%if !flash.empty? %>
        <%= flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
